<launch>
  <!-- 1. Lancer un monde Gazebo vide -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- 2. Publier une transformation statique entre base_link et base_footprint (courant en simu) -->
  <node name="tf_footprint_base"
        pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0 base_link base_footprint 40" />

  <!-- 3. Faire apparaître le modèle URDF dans Gazebo -->
  <node name="spawn_model"
        pkg="gazebo_ros" type="spawn_model"
        args="-file $(find so100_description)/urdf/SO_5DOF_ARM100_8j_URDF.SLDASM.urdf -urdf -model SO_5DOF_ARM100_8j_URDF.SLDASM"
        output="screen" />

  <!-- 4. Publier un message (probablement pour un autre nœud, pas essentiel pour nous ici) -->
  <node name="fake_joint_calibration"
        pkg="rostopic" type="rostopic"
        args="pub /calibrated std_msgs/Bool true" />
</launch>
